.outerborder{
	  border-style: solid;
    border-width: 2px;
    margin-left: auto;
  	margin-right: auto;
    border-color: black;
}

.title{
	text-align: center;
}

.innerborder{
	border-style: solid;
    border-width: 2px;
    margin: 7px;
    width:650px;
    border-color: black;
}

.resultOutBorder{
    border-style: solid;
    border-width: 2px;
    margin-left: auto;
    margin-right: auto;
    border-color: black;
}

hr {
	height: 1px;
}
tr.border_bottom td {
  border-bottom:1pt solid #C0C0C0;
}


.result{
    margin: 7px;
    width: 650px;
    border:1px solid #C0C0C0;
}

#leftDisplay {
  float: left;
  width: 180px;
}

#rightDisplay{
  float: right;
  width: 445px;
}

.italic {
    font-style: italic;
}

#noResult{
  text-align: center;
}

.resultTitle{
  text-align: center;
}
